body {
	background-color:blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

.container {
	display: flex;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 4rem;
	border-radius: 0.5em;
	border: 2px solid black;
}

.container .participants  {
	flex-direction: column;
}

.container p {
	background-color:blanchedalmond;
	width: 40%;
	border-radius: 0.5em;
	padding: 0.5rem;
	border: 2px solid black;
}

.container h2 {
	text-decoration: underline;
	margin-bottom: 5rem;
}

.about {
	margin: 3rem;

}

.participants {
	margin: 3rem;
	margin-right: 38rem;
}

.participant p {
	border: 2px solid black;
	border-radius: 0.5em;
	width:100%;
	padding: 0.5rem;
	background-color:blanchedalmond;
}

.participants img {
	border: 0.1rem solid black;
}


/* responsiva inställningar */



@media (max-width: 460px) {
    .welcome {
		display: flex;
		flex-direction: column;
		
	}
	img {
		width: 98%;
	}
	.huvudmeny li {
		font-size: 24px;
		padding: 4px;
		margin: 0px;
		text-decoration: underline;
	}

	footer div {
	width:80%;
	display: flex;
	flex-direction:column;
	align-items: center;
	}
}

@media (max-width: 742px) {

	.welcome {
		display: flex;
		flex-direction: column;
		margin: 1rem;
  	}
	
	 img {
		width: 99%;
		height: auto;
		border: 0;
		
	}
	.welcome h3 {
		text-align: center;
		
		
	}
	.welcome .box1 {
		order: 2;
	}
	.welcome .box2 {
		order: 1;
	}
	.welcome p {
		font-size: 1rem;
		
	}
		
	.huvudmeny li {
		font-size: 2rem;
		padding:14px;
		margin:0;
	}

	.huvudmeny ul {
		margin: 2px;
		padding: 2px;
	}
}