body {
	background-color:blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

/*Form*/



	.article {
		margin: 5rem;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2rem;
	width: auto;
	padding: 5rem;
	border: 1px solid black;
	border-radius: 12px;

}



.personuppgifter label, 
.personuppgifter input {
        display: block;
        margin-bottom: 5px;
    }

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

input[type="checkbox"] {
	width: 25px;
	height: 25px;
	
}



input:invalid {
	border: 2px solid red;
}

.submit {
	display: flex;              /* Gör div:en till en flex-container */
	justify-content: center;    /* Centrera innehållet horisontellt */
	margin-top: 20px;          /* Lägg till lite utrymme ovanför knappen */
  }
  
  .submit input[type="submit"] {
	padding: 10px 20px;        /* Lägg till padding för en bättre knappdesign */
	background-color: #4CAF50; /* Grön bakgrundsfärg */
	color: white;              /* Vit textfärg */
	border: none;              /* Ingen kantlinje */
	border-radius: 5px;       /* Rundade hörn */
	cursor: pointer;           /* Ändra muspekaren till en pekare */
  }
  
  .submit input[type="submit"]:hover {
	background-color: #45a049; /* Ändra bakgrundsfärgen vid hovring */
  }
  

.mataltenativ, .radio  {
	display: flex;
	flex-direction: row;
}

.choose-days {
	display: flex;
	flex-direction: row;
}

@media (max-width: 600px) {
	form {
		width: 12px;
	}
	article {
		width:20rem;
	}
}

@media (max-width: 949px) {
	form {
		width: 80%;
	}
	article {
		width:80%;
	}
}

@media (max-width: 506px) {
	form {
		width:100%;
		margin: 0;
	}
	article {
		width:70%;
		margin: 0;
	}
	.mataltenativ{
		display: block;
		width: 80%;
		margin: 0;
	}
	 
}
