body {
	background-color:blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

/*Form*/



	.article {
	display: flex;
	margin:3rem;
	background-color: rgba(255, 255, 255, 0.5);
	padding:2rem;
	border: 1px solid black;
	border-radius: 8px;
	justify-content: center;

}





.mataltenativ div {
	display: flex;
	margin: 1rem;

}


fieldset {

width: auto;
}





legend {
    font-weight: bold; 
    font-size: 1.2em;
    padding: 0 10px;
}


.personuppgifter label, 
.personuppgifter input {
        display: block;
        margin-bottom: 5px;
    }

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

input[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin: 8px;
}



input:invalid {
	border: 2px solid red;
}

.submit {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .submit input[type="submit"] {
	padding: 10px 20px;        
	background-color: aqua;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .submit input[type="submit"]:hover {
	background-color: #45a049;
  }

  .allergier input[type="text"] {
    width: 40%;

    font-size: 1.2em; 
    border: 1px;
    border-radius: 4px;
   
}


.mataltenativ .radio  {
	display: flex;
	flex-direction: row;
}

.mataltenativ label {
	margin: 8px;
}

.choose-days {
	display: flex;
	flex-direction: row;
}





@media (max-width: 1083px) {
		
	.article {
			display: block;
			width: 80%;
	}
	input[name="seminars"] label {
		display: flex;
		flex-direction: row;
		margin: 12px;
	  }
}

@media (max-width: 765px) {
		
	.article {
			display: block;
			
			margin: 12px;
	}
	input[name="seminars"] label {

		margin: 12px;
	  }
}

@media (max-width: 470px) {

	.article {
	  display: block;
	  width: auto;
	  margin: 12px;
	}
  
	label[for="seminars"] {
	  margin: 12px;
	}
  
	.meal {
	  display: flex;
	  flex-direction: column;
	}
  
	.allergier input[type="text"] {
	  font-size: 16px;
	  padding: 5px;
	  width: auto; 
	  height: auto;
	}
  }
  