body {
	background-color:blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

/*Form*/



	.article {
		display: flex;
	margin: 5rem;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2rem;
	width: auto;
	padding: 5rem;
	border: 1px solid black;
	border-radius: 12px;

}

.mataltenativ input {
	display:flex;
	flex-direction: row;
	margin: 4px;
}

.mataltenativ div {
	display: flex;

}

fieldset {
	width: 50rem;
}

.allergier {
	width:auto;
	height: auto;
}

legend {
    font-weight: bold; 
    font-size: 1.2em;
    padding: 0 10px;
}


.personuppgifter label, 
.personuppgifter input {
        display: block;
        margin-bottom: 5px;
    }

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

input[type="checkbox"] {
	width: 25px;
	height: 25px;
	
}



input:invalid {
	border: 2px solid red;
}

.submit {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .submit input[type="submit"] {
	padding: 10px 20px;        
	background-color: #4CAF50; 
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .submit input[type="submit"]:hover {
	background-color: #45a049;
  }
  

.mataltenativ, .radio  {
	display: flex;
	flex-direction: row;
}

.choose-days {
	display: flex;
	flex-direction: row;
}

@media (max-width: 600px) {
	form {
		width: 12px;
	}
	article {
		width:20rem;
	}
}

@media (max-width: 949px) {
	form {
		width: 80%;
	}
	article {
		width:80%;
	}
}

@media (max-width: 506px) {
	form {
		width:100%;
		margin: 0;
	}
	article {
		width:70%;
		margin: 0;
	}
	.mataltenativ{
		display: block;
		width: 80%;
		margin: 0;
	}
	 
}
