/* Header */
:root {
	--dark1: rgb(48, 182, 80);
}

header {
	background-color: lightslategray;
	border: 0.1em solid var(--dark1);
}

.huvudmeny ul li a{
	color: var(--dark1);
	text-decoration: none;
	
}

.huvudmeny {
	display: flex;
	justify-content: center;
}

.huvudmeny ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.huvudmeny li {
	padding: 2rem;
	margin: 0 1rem;
	font-size: 3rem;
	text-shadow: 2px 2px 5px grey;
}
