body {
	background-color:blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

	

/* Header */

header {
	background-color: lightslategray;
	border: 0.1em solid black;
}

.huvudmeny ul li a{
	color: black;
	text-decoration: none;
	
}

.huvudmeny {
	display: flex;
	justify-content: center;
}

.huvudmeny ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.huvudmeny li {
	padding: 2rem;
	margin: 0 1rem;
	font-size: 3rem;
	text-shadow: 2px 2px 5px grey;
}

/*Main*/

H1 {
	font-size: 3rem;
	text-align: center;
	margin-top: 0.5em;

}


.welcome {
	display: flex;
	color: solid black;
	margin:2.7rem;
	
	
}

.welcome div {
	flex-direction: row;
	padding: 2rem;
	
	
}

.welcome p {
	color:solid black;
	font-family: 'Montserrat', Courier, monospace;
	font-weight:500;
	max-width: 30em;
	font-size: 1em;
	
}

.welcome h2 {
text-decoration: underline;

}

.welcome img {
	border: 0.2em solid black;
	
}

.welcome button {
	color: solid black;
	background-color: whitesmoke;
	border-radius: 12px;
	

}

/* footer */

footer {
    background-color: lightslategray;
    border: 0.1em solid black;
    padding: 0.1em 0;
    color: black;
	
	
}

.logo {
	width: 100px;
	margin-left: 0;
	margin-right: 24px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}

.contact-info, .social-media {
    max-width: 200px;
}

h4 {
    margin-bottom: 0.5em;
}



/* responsiva inställningar */

@media (max-width: 1024px) {
    .welcome {
		display: flex;
		flex-direction: column;
		margin: 1rem;
  	}
	
	 img {
		width: 99%;
		height: auto;
		border: 0;
		
	}
	.welcome h3 {
		text-align: center;
		font-size: 5em;
	}
	.welcome .box1 {
		order: 2;
	}
	.welcome .box2 {
		order: 1;
	}
	.welcome p {
		font-size: 1em;
		
	}
	.welcome div {
		padding: 2px;
	}
	
}

@media (max-width: 460px) { /* mindre skärmar*/
    .welcome {
		display: flex;
		flex-direction: column;
		
	}
	img {
		width: 98%;
	}
	.huvudmeny li {
		font-size: 14px;
		padding: 2px;
		margin: 0px;
		text-decoration: underline; /*Indikation på att det är en mindre skärm*/
	}

	footer div {
	width:80%;
	display: flex;
	flex-direction:column;
	align-items: center;
	}
}

@media (max-width: 831px) {

	.welcome {
		display: flex;
		flex-direction: column;
		margin: 1rem;
  	}
	
	 img {
		width: 99%;
		height: auto;
		border: 0;
		
	}
	.welcome h3 {
		text-align: center;
		
		
	}
	.welcome .box1 {
		order: 2;
	}
	.welcome .box2 {
		order: 1;
	}
	.welcome p {
		font-size: 1rem;
		
	}
		
	.huvudmeny li {
		font-size: 1rem;
		padding:14px;
		margin:0;
	}

	.huvudmeny ul {
		margin: 2px;
		padding: 2px;
	}
}