body {
	background-color:blanchedalmond;
	margin: 0;
}

header {
	background-color:grey;
	border: 0.1em solid black;

}

.huvudmeny ul li a{
	color: black;
	text-decoration: none;
	
}

.huvudmeny {
	display: flex;
	justify-content: center;
}

.huvudmeny ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	
}

.huvudmeny li {
	padding: 24px;
	margin: 0 12px;
}

.onlyh1 {
	text-align: center;
	text-decoration: underline;
	margin-top: 2em;
}

.welcome {
	color:solid black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 200;
	max-width: 30em;
	margin-left: 2em;
	margin-top: 6em;

}

.welcome p {
	color:solid black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 200;
	max-width: 30em;
	margin: 24px;
}

.welcome h3 {

}

.welcome img {
	max-width: 15em;
}

/* footer */

footer {
    background-color: grey;
    border: 0.1em solid black;
    padding: 2em 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

.contact-info, .social-media {
    max-width: 200px;
}

h4 {
    margin-bottom: 0.5em;
}

