body {
	background-color: blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

img {
	position: fixed;
	width: 60%;
	margin-left: 25rem;
	margin-top: 5rem;
	z-index: 1; /* Lägre värde gör att bilden hamnar under texten */
}

.tack-rubrik  {
	position: fixed;
	background-color: grey;
	padding: 2rem;
	width: 10rem;
	z-index: 2; /* Högre värde gör att texten hamnar ovanpå bilden */
	color: white; /* Gör texten mer synlig */
	top: 8rem; /* Justera positionen så att den ligger över bilden */
	left: 30rem; /* Anpassa efter bildens position */
}
