body {
	background-color: blanchedalmond;
	margin: 0;
	font-family: 'Montserrat', Courier, monospace;
}

.tack-ruta img {
	width: 80%;
	height: auto;
}

.tack-ruta  {
	display: flex;
	justify-content: space-around;
	background-color: grey;
	padding: 2rem;
	margin-left: 30%;
	margin-top: 15%;
	width: 35rem;
	height: auto;
	
}

.tack-ruta div img {
	flex-direction: column;
	justify-content: space-around;
}

@media (max-width: 1200px) {
	.tack-ruta {
	margin: 10rem;
	}
}

@media (max-width: 900px) {
	.tack-ruta {
	margin: 5rem;
	}
}

@media (max-width: 770px) {
	.tack-ruta {
	margin: 2rem;
	}
}

@media (max-width: 680px) {
	.tack-ruta {
		display: block;
		flex-direction: column;
		margin: 0.5rem;
		width: auto;
	}
	.tack-ruta div{
font-size: 12px;
	}
	.tack-ruta img {
		width:100%;
	}
	.tack-meddelande {
		
		
	}
}

